body {
    margin: 0;
    padding: 0;
    background: url(../img/LOGOI.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
.hhh{
    background-color:transparent;
    width: 220px;
    height: 300px;
    float: left;
}
.gg{
    background-color:rgb(16, 128, 94);
    width: 450px;
    height: 200px;
    float: left;
}
.ggg{
    background-color:rgb(19, 138, 92);
    width: 450px;
    height: 200px;
    float: left;
}
input,textarea{
    margin-bottom: 20px;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid rgb(4, 27, 48);
}